{% load i18n %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<title>{% blocktrans %}Assolement{% endblocktrans %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0-beta.1/themes/smoothness/jquery-ui.css"/>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="/static/gammasimos.css"/>
		<script src="/static/gammasimos.js"></script>

		<script>
			var descriptions = {'type_sol': {'fields': ['id', 'number', 'name'], 'visible_fields': ['id', 'number', 'name'],
											 'ajax': '/create_update.html',
											 'target_class': 'assolement.models.SoilKind',
											 'selects_to_populate': ['crop_soils_forbidden', 'crop_soils_not_reco', 'crop_soils_reco','parcel_soil_kind']
											},
								'localisation_sol': {'fields': ['id', 'code', 'name'], 'visible_fields': ['id', 'code', 'name'],
													 'ajax': '/create_update.html',
													 'target_class': 'assolement.models.SoilLocation',
													 'selects_to_populate': ['parcel_location']
													 },
								'culture': {'fields': ['id', 'name', 'surface', 'percentage', 'threshold',
													   'previous_forbidden', 'previous_not_reco', 'previous_reco',
													    'years_return', 'crop_duration',
													    'soils_forbidden', 'soils_not_reco', 'soils_reco', 'mandatory', 'winter'],
											'visible_fields': ['id', 'nom', 'surface', 'percentage', 'threshold', 'mandatory', 'winter'],
											'ajax': '/create_update.html',
											'target_class': 'assolement.models.Crop',
											'selects_to_populate': ['culture_precedents_interdits', 'culture_precedents_deconseilles', 'culture_precedents_conseilles']
											},
								'parcelle': {'fields': ['id', 'name', 'surface', 'soil_kind', 'position'], 'visible_fields': ['id', 'name', 'surface', 'soil_kind', 'position'],
													 'ajax': '/create_update.html',
													 'target_class': 'assolement.models.Parcel',
													 'selects_to_populate': []
											 },
								};
			var crops = {{crops|safe}};
			var soil_positions = {{soil_positions|safe}};
			var soil_kinds = {{soil_kinds|safe}};
			var parcels = {{parcels|safe}};

			var start_year = new Date().getFullYear() - 4;
			var visbile_years = 8;
			var workingYear = -1;
			var solutions = {};

			var max_page = 0;

			$(document).ready(function () {
				csrftoken = getCookie('csrftoken');
				$('.with-id tr > *:first-child').hide();
				$.each(descriptions, function(key, information){
					refreshTable(key);
				});
				buildHistoryTable();
			});

			function chooseSolution(solution_index) {
				cleanYear(workingYear, false);
				$("#solutions_modal").modal('hide');
				$.each(solutions[solution_index], function(c_idx, working_data) {
					$.each(working_data.allocation, function(p_idx, parcel_id) {
						console.log(parcel_id, workingYear, c_idx);
						$("#parcel-" + parcel_id + "-" + workingYear).val(c_idx.toString());
					});
				});
				saveHistory();
			}

			function displaySolutions(page_index) {
				var mandatory = {};
				$("#solutions_table").empty();
				var header ="<thead><tr class='info'><th class='col-lg-2 info'><button id='previous_button' class='btn btn-info btn-sm' onclick='displaySolutions(" + (page_index - 1) + ")'><span class='glyphicon glyphicon-menu-left'/></button><button id='next_button' class='btn btn-info btn-sm' onclick='displaySolutions(" + (page_index + 1) + ")'><span class='glyphicon glyphicon-menu-right'/></button></th><th id='sol_header_0' class='col-lg-2'>-</th><th id='sol_header_1' class='col-lg-2'>-</th><th id='sol_header_2' class='col-lg-2'>-</th><th id='sol_header_3' class='col-lg-2'>-</th></tr></thead>";
				$("#solutions_table").append(header);
				var htmlRow = "<tbody>";
				$.each(cultures, function(index, culture){
					htmlRow += "<tr>";
					htmlRow += "<th class='info'>" + culture.nom + "<br/><small>Surface:&nbsp;" + culture.surface.toFixed(2) + "</small></th>";
					htmlRow += "<td id='culture_" + culture.id + "_sol_0'>-</td>";
					htmlRow += "<td id='culture_" + culture.id + "_sol_1'>-</td>";
					htmlRow += "<td id='culture_" + culture.id + "_sol_2'>-</td>";
					htmlRow += "<td id='culture_" + culture.id + "_sol_3'>-</td>";
					htmlRow += "</tr>";
					mandatory[culture.id.toString()] = culture.obligatoire;
				});
				htmlRow += "</tbody>";
				$("#solutions_table").append(htmlRow);
				var col_index = 0;
				$.each(solutions, function(index, solution){
					var s_index = Number(index);
					if (s_index>=(page_index*4) && s_index<((page_index+1)*4) ) {
						$("#sol_header_" + col_index).html("Solution " + (s_index+1) + "&nbsp;<button class='btn btn-info btn-sm' onclick='chooseSolution(" + index + ")'><span class='glyphicon glyphicon-ok'/></button>");
						$.each(solution, function(culture_id, data) {
							var allocationText = "";
							allocationText += "<small>Surface allouée:&nbsp;" + data.allocated_surface.toFixed(2) + "<br/>";
							$.each(data.allocation, function (p_index, parcel_id) {
								
								$.each(parcelles, function(parcelle_index, parcelle) {
									if (parcelle.id==parcel_id) {
										allocationText += parcelle.nom + "<br/>"
									}
								});
							});
							allocationText += "</small>";
							$("#culture_" + culture_id + "_sol_" + col_index).html(allocationText);
							var colorClass = 'warning';
							if (data.match) {
								colorClass = 'success';
							} else if (mandatory[culture_id] || data.allocated_surface==0.0) {
								colorClass = 'danger';
							}
							$("#culture_" + culture_id + "_sol_" + col_index).addClass(colorClass);
						});
						col_index = col_index + 1;
					}
				});
				if (page_index==0) {
					$("#previous_button").prop("disabled", true);
				}
				if (page_index==max_page) {
					$("#next_button").prop("disabled", true);
				}
			}

			function yearComputed(event) {
				$("#workingIndicator").toggleClass("invisible");
				if (event.success) {
					if (Object.keys(event.solutions).length>0) {
						solutions = event.solutions;
						current_page = 0;
						max_page = Math.floor((Object.keys(event.solutions).length-1) / 4);
						displaySolutions(0);
						$("#solutions_modal").modal('show');
					} else {
						alert("{% blocktrans %}Aucun assolement correspondant à vos critères n'a été trouvé!{% endblocktrans %}");
					}
				} else {
					alert("{% blocktrans %}Une erreur est survenue lors du calcul!{% endblocktrans %}");
				}
			}

			function computeYear(year) {
				$("#workingIndicator").toggleClass("invisible");
				workingYear = year;
				var computeForm = new FormData();
				computeForm.append("year", year);
				$.ajax({
					url: '/compute_year.html',
					type: 'POST',
					data: computeForm,
					contentType: false,
					processData: false,
					success: yearComputed,
					error: onCallError
				});
			}

			function cleanYear(year, save) {
				$.each(parcelles, function(index, parcelle){
					$("#parcel-" + parcelle.id + "-" + year).val("{% blocktrans %}JACHERE{% endblocktrans %}");
				});
				if (save) {
					saveHistory();
				}
			}

			function buildHistoryTable(start_year) {
				var working_year = new Date().getFullYear() - 4;
				if (start_year) {
					working_year = start_year;
				}
				var cultures_options = "<option value='{% blocktrans %}JACHERE{% endblocktrans %}'>-</option>";
				$.each(cultures, function(index, culture){
					cultures_options += "<option value='" + culture.id + "'>" + culture.nom + "</option>"
				});
				$("#historique_table").empty();
				var html_append;
				html_append = "<tr><th class='col-lg-1'>Parcelle</th>";
				for (var index=working_year;index<working_year + visbile_years; index++) {
					html_append +="<th>" + index + (working_year+4<=index?"&nbsp;<button class='btn btn-info btn-sm' type='button' onclick='cleanYear(" + index + ", true)'><span class='glyphicon glyphicon-trash'/></button>&nbsp;<button class='btn btn-info btn-sm' type='button' onclick='computeYear(" + index + ")'><span class='glyphicon glyphicon-refresh'/></button>":"") + "</th>";
				}
				html_append +="</tr>";
				$("#historique_table").append(html_append);

				$.each(parcelles, function(index, parcelle){
					html_append = "<tr class='parcel-" + parcelle.id + "'><td>" + parcelle.nom + "</td>";
					for (var rolling_year=working_year;rolling_year<working_year + visbile_years; rolling_year++) {
						html_append +="<td><select id='parcel-" + parcelle.id + "-" + rolling_year + "' class='form-control parcel-history'>" + cultures_options + "</select></th>";
					}
					html_append += "</tr>";
					$("#historique_table").append(html_append);
				});

				$.each(parcelles, function(index, parcelle){
					for (var rolling_year=working_year;rolling_year<working_year + visbile_years; rolling_year++) {
						var not_found = true;
						$.each(parcelle.historique, function(sub_index, annee){
							if (annee.annee==rolling_year) {
								not_found = false;
								$("#parcel-" + parcelle.id + "-" + rolling_year).val(annee.culture);
							}
						});
						if (not_found) {
							$("#parcel-" + parcelle.id + "-" + rolling_year).val("{% blocktrans %}JACHERE{% endblocktrans %}");
						}
					}
				});
			}

			function historySaved(event) {
				if (event.success) {
					parcelles = event.updated_values;
					buildHistoryTable();
					$("#workingIndicator").toggleClass("invisible");
				} else {
					alert(event.message);
				}
			}

			function saveHistory() {
				$("#workingIndicator").toggleClass("invisible");
				var all_history = {};
				$(".parcel-history").each(function(){
					var culture_id = -1;
					if ($(this).val()!=="{% blocktrans %}JACHERE{% endblocktrans %}") {
						culture_id = Number($(this).val());
					}
					all_history[$(this).attr("id")] = culture_id;
				});
				var historyForm = new FormData();
				historyForm.append("history", JSON.stringify(all_history));
				$.ajax({
					url: '/update_history.html',
					type: 'POST',
					data: historyForm,
					contentType: false,
					processData: false,
					success: historySaved,
					error: onCallError
				});
			}

			function refreshTable(prefix) {
				$("." + prefix + "_row").remove();
				$.each(window[prefix + "s"], function(index, value){
					appendRow(prefix, value);
				});

				$.each(descriptions[prefix].selects_to_populate, function(index, select_id){
					$("#" + select_id).empty();
					$.each(window[prefix + "s"], function(index, value){
						$("#" + select_id).append("<option value='" + value.id + "'>" + value.nom + "</option>")
					});
				});
			}

			function onCallError(xhr, status, error) {
				$("#workingIndicator").toggleClass("invisible");
				alert("{% blocktrans %}Le serveur n'est pas dispobible, merci de réessayer ultérieurement!{% endblocktrans %}");
			}

			function dataRemoved(event) {
				if (event.success) {
					var new_list = [];
					$.each(window[event.prefix + "s"], function(index, value){
						if (value.id!==event.value.id) {
							new_list.push(value);
						}
					});
					window[event.prefix + "s"] = new_list;
					refreshTable(event.prefix);
					
				} else {
					alert(event.message);
				}
			}

			function appendRow(prefix, data) {
				var html_row = '<tr id="' + prefix + '_row_' + data.id +'" class="' + prefix + '_row">';
				$.each(descriptions[prefix].visible_fields, function(index, field) {
					html_row += '<td id="' + prefix + '_' + field + '_' + data.id + '">' + (typeof data[field]=='string' || typeof data[field]=='number'?data[field]:data[field].nom) + '</td>';
				});
				html_row += '<td><button type="button" class="btn btn-default btn-sm" aria-label="{% blocktrans %}Supprimer{% endblocktrans %}" onclick="removeRow(\'' + prefix + '\',' + data.id + ')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button><button type="button" class="btn btn-default btn-sm" aria-label="{% blocktrans %}Editer{% endblocktrans %}" onclick="editRow(\'' + prefix + '\',' + data.id + ')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>';
				html_row += '</tr>';
				$("#" + prefix + "_table").append(html_row);
				$('.with-id tr > *:first-child').hide();
			}

			function dataSaved(event) {
				if (event.success) {
					$("#" + event.prefix + "_modal").modal('hide');
					if (event.update) {
						var new_list = [];
						$.each(window[event.prefix + "s"], function(index, value){
							if (value.id!==event.value.id) {
								new_list.push(value);
							} else {
								new_list.push(event.value);
							}
						});
						window[event.prefix + "s"] = new_list;
						refreshTable(event.prefix);
					} else {
						window[event.prefix + "s"].push(event.value);
						refreshTable(event.prefix);
					}
				} else {
					alert(event.message);
				}
			}

			function editRow(prefix, id) {
				var data = {};
				$.each(window[prefix + "s"], function(index, value) {
					if (value.id===id) {
						data = value;
					}
				});
				showModal(prefix, data);
			}

			function removeRow(prefix, id) {
				var removeForm = new FormData();
				removeForm.append("target_class", descriptions[prefix].target_class);
				removeForm.append("prefix", prefix);
				removeForm.append("id", id);
				$.ajax({
					url: '/remove.html',
					type: 'POST',
					data: removeForm,
					contentType: false,
					processData: false,
					success: dataRemoved,
					error: onCallError
				});
			}

			function submitModal(event, prefix) {
				event.preventDefault();
				var formValues = $("#" + prefix + "_form").serializeForm(prefix + "_");
				formValues.append("target_class", descriptions[prefix].target_class);
				formValues.append("prefix", prefix);
				$.ajax({
					url: descriptions[prefix].ajax,
					type: 'POST',
					data: formValues,
					contentType: false,
					processData: false,
					success: dataSaved,
					error: onCallError
				});
			}

			function showModal(prefix, data) {
				if (data) {
					$.each(descriptions[prefix].fields, function(index, value) {
						if ($("#" + prefix + "_" + value).is("input") && $("#" + prefix + "_" + value).attr("type")!=="checkbox") {
							$("#" + prefix + "_" + value).val(data[value]);
						} else if ($("#" + prefix + "_" + value).is("input") && $("#" + prefix + "_" + value).attr("type")==="checkbox") {
							$("#" + prefix + "_" + value).prop("checked", data[value]);
						} else if (!$("#" + prefix + "_" + value + "[multiple]").length) {
							$("#" + prefix + "_" + value).val(data[value].id);
						} else {
							$("#" + prefix + "_" + value + " option:selected").removeAttr("selected");
							$.each(data[value], function(selected_index, selected_value) {
								$("#" + prefix + "_" + value + " option[value='" + selected_value.id + "']").prop("selected", true);
							});
						}
					});
				} else {
					$("#" + prefix + "_id").val('');
				}
				$("#" + prefix + "_modal").modal('show');
			}
		</script>
	</head>
	<body>
		<div class="container" style="padding: 0 15px;">
			<div class="row">
				<!-- MENU -->
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a data-toggle="tab" href="#historique">{% blocktrans %}Assolement{% endblocktrans %}</a></li>
					<li role="presentation"><a data-toggle="tab" href="#parcelles">{% blocktrans %}Parcelles{% endblocktrans %}</a></li>
					<li role="presentation"><a data-toggle="tab" href="#cultures">{% blocktrans %}Cultures{% endblocktrans %}</a></li>
					<li role="presentation"><a data-toggle="tab" href="#types_sol">{% blocktrans %}Types de sol{% endblocktrans %}</a></li>
					<li role="presentation"><a data-toggle="tab" href="#localisations_sols">{% blocktrans %}Localisation des sols{% endblocktrans %}</a></li>
				</ul>
				<!-- MENU CONTENT-->
				<div class="tab-content">
					<div id="historique" class="tab-pane fade in active">
						<p>
							<br/>
							<button type="button" class="btn btn-default" aria-label="{% blocktrans %}Sauvegarder les modifications{% endblocktrans %}" onclick="saveHistory('parcelle')"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;{% blocktrans %}Sauvegarder l'historique{% endblocktrans %}</button>
							<div id="workingIndicator" class="progress invisible">
  								<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">{% blocktrans %}Veuillez patienter{% endblocktrans %}</span></div>
  							</div>
						</p>
						<table id="historique_table" class="table table-striped table-condensed">
						</table>
					</div>
					<div id="parcelles" class="tab-pane fade">
						<p>
							<br/>
							<button type="button" class="btn btn-default" aria-label="Créer une parcelle" onclick="showModal('parcelle')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{% blocktrans %}Ajouter une parcelle{% endblocktrans %}</button>
						</p>
						<table id="parcelle_table" class="table table-striped table-condensed with-id">
							<tr><th>Id</th><th class="col-lg-2">{% blocktrans %}Nom<{% endblocktrans %}/th><th class="col-lg-1">{% blocktrans %}Surface{% endblocktrans %}</th><th class="col-lg-1">{% blocktrans %}Type de sol{% endblocktrans %}</th><th class="col-lg-1">{% blocktrans %}Localisation{% endblocktrans %}</th><th class="col-lg-2">{% blocktrans %}Actions{% endblocktrans %}</th></tr>
						</table>
					</div>
					<div id="cultures" class="tab-pane fade">
						<p>
							<br/>
							<button type="button" class="btn btn-default" aria-label="{% blocktrans %}Créer un type de culture{% endblocktrans %}" onclick="showModal('culture')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{% blocktrans %}Ajouter un type de culture{% endblocktrans %}</button>
						</p>
						<table id="culture_table" class="table table-striped table-condensed with-id">
							<tr><th>Id</th><th class="col-lg-2">{% blocktrans %}Nom{% endblocktrans %}</th><th class="col-lg-1">{% blocktrans %}Surface{% endblocktrans %}</th><th class="col-lg-1">{% blocktrans %}Pourcentage{% endblocktrans %}</th><th class="col-lg-1">{% blocktrans %}Tolérance{% endblocktrans %}</th><th class="col-lg-2">&nbsp;{% blocktrans %}Actions{% endblocktrans %}</th></tr>
						</table>
					</div>
					<div id="types_sol" class="tab-pane fade">
						<p>
							<br/>
							<button type="button" class="btn btn-default" aria-label="Créer un type de sol" onclick="showModal('type_sol')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{% blocktrans %}Ajouter un type de sol{% endblocktrans %}</button>
						</p>
						<table id="type_sol_table" class="table table-striped table-condensed with-id">
							<tr><th>Id</th><th class="col-lg-2">{% blocktrans %}Numéro{% endblocktrans %}</th><th class="col-lg-8">{% blocktrans %}Nom{% endblocktrans %}</th><th class="col-lg-2">{% blocktrans %}Actions{% endblocktrans %}</th></tr>
						</table>
					</div>
					<div id="localisations_sols" class="tab-pane fade">
						<p>
							<br/>
							<button type="button" class="btn btn-default" aria-label="{% blocktrans %}{% blocktrans %}Créer une localisation de sol{%endblocktrans %}" onclick="showModal('localisation_sol')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{% blocktrans %}Ajouter une localisation de sol{% endblocktrans %}</button>
						</p>
						<table id="localisation_sol_table" class="table table-striped table-condensed with-id">
							<tr><th>Id</th><th class="col-lg-2">{% blocktrans %}Code{% endblocktrans %}</th><th class="col-lg-8">{% blocktrans %}Nom{% endblocktrans %}</th><th class="col-lg-2">{% blocktrans %}Actions{% endblocktrans %}</th></tr>
						</table>
					</div>
				</div>

				<!-- POPUP PARCEL -->
				<div class="modal fade" id="parcelle_modal" tabindex="-1" role="dialog" aria-labelledby="parcelle_modal_label">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
								<h5 class="modal-title" id="parcelle_modal_label">{% blocktrans %}Créer/éditer un type de sol{% endblocktrans %}</h5>
							</div>
							<form id="parcelle_form" onsubmit="submitModal(event, 'parcelle')" role="form" action="/create_update.html" method="POST">
								<input type="hidden" value="{{csrf_token}}"></input>
								<div class="modal-body">
									<input type="hidden" id="parcel_id" name="parcel_id"></input>
									<div class="form-group">
										<label for="parcelle_nom">{% blocktrans %}Nom de la parcelle{% endblocktrans %}</label>
										<input type="text" class="form-control" id="parcelle_nom" name="parcelle_nom" placeholder="{% blocktrans %}Entrer un nom pour la parcelle{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="parcelle_surface">{% blocktrans %}Surface de la parcelle{% endblocktrans %}</label>
										<input type="text" class="form-control" id="parcelle_surface" name="parcelle_surface" placeholder="{% blocktrans %}Entrer la surface de la parcelle{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="parcel_soil_kind">{% blocktrans %}Type de sol{% endblocktrans %}</label>
										<select id="parcel_soil_kind" name="parcel_soil_kind" class="form-control"></select>
									</div>
									<div class="form-group">
										<label for="parcel_location">{% blocktrans %}Localisation de la parcelle{% endblocktrans %}</label>
										<select id="parcel_location" name="parcel_location" class="form-control"></select>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Fermer{% endblocktrans %}</button>
									<button type="submit" role="button" class="btn btn-primary">{% blocktrans %}Sauvegarder{% endblocktrans %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- POPUP CROP KIND -->
				<div class="modal fade" id="culture_modal" tabindex="-1" role="dialog" aria-labelledby="culture_modal_label">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
								<h5 class="modal-title" id="culture_modal_label">{% blocktrans %}Créer/éditer une culture{% endblocktrans %}</h5>
							</div>
							<form id="culture_form" onsubmit="submitModal(event, 'culture')" role="form" action="/create_update.html" method="POST">
								<div class="modal-body">
									<input type="hidden" id="culture_id" name="culture_id"></input>
									<div class="form-group">
										<label for="culture_nom">{% blocktrans %}Nom de la culture{% endblocktrans %}</label>
										<input type="text" class="form-control" id="culture_nom" name="culture_nom" placeholder="{% blocktrans %}Entrer un nom de culture{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="culture_surface">{% blocktrans %}Surface{% endblocktrans %}</label>
										<input type="text" class="form-control" id="culture_surface" name="culture_surface" placeholder="{% blocktrans %}Entrer une surface{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="culture_pourcentage">{% blocktrans %}Pourcentage{% endblocktrans %}</label>
										<input type="text" class="form-control" id="culture_pourcentage" name="culture_pourcentage" placeholder="{% blocktrans %}Entrer un pourcentage{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="culture_tolerance">{% blocktrans %}Tolérance{% endblocktrans %}</label>
										<input type="text" class="form-control" id="culture_tolerance" name="culture_tolerance" placeholder="{% blocktrans %}Entrer une tolérance{% endblocktrans %}"></input>
									</div>
									<div class="checkbox">
										<label><input type="checkbox" id="culture_obligatoire" name="culture_obligatoire"/>{% blocktrans %}Surface obligatoire{% endblocktrans %}</label>
									</div>
									<div class="form-group">
										<label for="culture_annees_retour">{% blocktrans %}Années avant retour{% endblocktrans %}</label>
										<input type="text" class="form-control" id="culture_annees_retour" name="culture_annees_retour" placeholder="{% blocktrans %}Entrer un nombre d'années avant retour{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="culture_duree_culture">{% blocktrans %}Durée de la culture{% endblocktrans %}</label>
										<input type="text" class="form-control" id="culture_duree_culture" name="culture_duree_culture" placeholder="{% blocktrans %}Entrer un nombre d'années avant retour{% endblocktrans %}"></input>
									</div>
									<div class="row"><h5><strong>&nbsp;{% blocktrans %}Cultures précédentes (CTRL+clic pour sélection multiple){% endblocktrans %}</strong></h5></div>
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label for="culture_precedents_interdits">{% blocktrans %}Interdits{% endblocktrans %}</label>
												<select id="culture_precedents_interdits" name="culture_precedents_interdits" multiple class="form-control"></select>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label for="culture_precedents_deconseilles">{% blocktrans %}Déconseillés{% endblocktrans %}</label>
												<select id="culture_precedents_deconseilles" name="culture_precedents_deconseilles" multiple class="form-control"></select>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label for="culture_precedents_conseilles">{% blocktrans %}Conseillés{% endblocktrans %}</label>
												<select id="culture_precedents_conseilles" name="culture_precedents_conseilles" multiple class="form-control"></select>
											</div>
										</div>
									</div>
									<div class="row"><h5><strong>&nbsp;{% blocktrans %}Recommandation de sol (CTRL+clic pour sélection multiple){% endblocktrans %}</strong></h5></div>
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label for="crop_soils_forbidden">{% blocktrans %}Interdits{% endblocktrans %}</label>
												<select id="crop_soils_forbidden" name="crop_soils_forbidden" multiple class="form-control"></select>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label for="crop_soils_not_reco">{% blocktrans %}Déconseillés{% endblocktrans %}</label>
												<select id="crop_soils_not_reco" name="crop_soils_not_reco" multiple class="form-control"></select>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label for="crop_soils_reco">{% blocktrans %}Conseillés{% endblocktrans %}</label>
												<select id="crop_soils_reco" name="crop_soils_reco" multiple class="form-control"></select>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Fermer{% endblocktrans %}</button>
									<button type="submit" role="button" class="btn btn-primary">{% blocktrans %}Sauvegarder{% endblocktrans %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- POPUP TYPE DE SOL -->
				<div class="modal fade" id="type_sol_modal" tabindex="-1" role="dialog" aria-labelledby="type_sol_modal_label">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
								<h5 class="modal-title" id="type_sol_modal_label">{% blocktrans %}Créer/éditer un type de sol{% endblocktrans %}</h5>
							</div>
							<form id="type_sol_form" onsubmit="submitModal(event, 'type_sol')" role="form" action="/create_update.html" method="POST">
								<div class="modal-body">
									<input type="hidden" id="type_sol_id" name="type_sol_id"></input>
									<div class="form-group">
										<label for="type_sol_numero">{% blocktrans %}Numéro du type{% endblocktrans %}</label>
										<input type="text" class="form-control" id="type_sol_numero" name="type_sol_numero" placeholder="{% blocktrans %}Entrer un numero pour le sol{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="type_sol_nom">{% blocktrans %}Nom du type{% endblocktrans %}</label>
										<input type="text" class="form-control" id="type_sol_nom" name="type_sol_nom" placeholder="{% blocktrans %}Entrer un nom pour le sol{% endblocktrans %}"></input>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Fermer{% endblocktrans %}</button>
									<button type="submit" role="button" class="btn btn-primary">{% blocktrans %}Sauvegarder{% endblocktrans %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- POPUP LOCALISATION DE SOL -->
				<div class="modal fade" id="localisation_sol_modal" tabindex="-1" role="dialog" aria-labelledby="localisation_sol_modal_label">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
								<h5 class="modal-title" id="localisation_sol_modal_label">{% blocktrans %}Créer/éditer une localisation de sol{% endblocktrans %}</h5>
							</div>
							<form id="localisation_sol_form" onsubmit="submitModal(event, 'localisation_sol')" role="form" action="/create_update.html" method="POST">
								<div class="modal-body">
									<input type="hidden" id="localisation_sol_id" name="localisation_sol_id"></input>
									<div class="form-group">
										<label for="localisation_sol_code">{% blocktrans %}Code de la localisation{% endblocktrans %}</label>
										<input type="text" class="form-control" id="localisation_sol_code" name="localisation_sol_code" placeholder="{% blocktrans %}Entrer un code pour la localisation{% endblocktrans %}"></input>
									</div>
									<div class="form-group">
										<label for="localisation_sol_nom">{% blocktrans %}Nom de la localisation{% endblocktrans %}</label>
										<input type="text" class="form-control" id="localisation_sol_nom" name="localisation_sol_nom" placeholder="{% blocktrans %}Entrer un nom pour la localisation{% endblocktrans %}"></input>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Fermer{% endblocktrans %}</button>
									<button type="submit" role="button" class="btn btn-primary">{% blocktrans %}Sauvegarder{% endblocktrans %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- POPUP AFFICHAGE SOLUTIONS -->
				<div class="modal fade" id="solutions_modal" tabindex="-1" role="dialog" aria-labelledby="solutions_modal_label">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="solutions_modal_label">{% blocktrans %}Propositions d'assolements{% endblocktrans %}</h5>
							</div>
							<div class="modal-body">
								<table id="solutions_table" class="table table-bordered">
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">{% blocktrans %}Fermer{% endblocktrans %}</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>